@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    margin-top: -30px;
}
:root{

      --clr-primary: #678e3e;
    --clr-primary-light: #beed8c;
    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-grey-10: #f1f5f8;
    --clr-white: #fff;
    --ff-primary: "Catamaran", sans-serif;
    --ff-secondary: "Grand Hotel", cursive;
    --transition: all 0.3s linear;
    --spacing: 2px;
    --radius: 0.5rem;
}

body{

    background-color: #023047;
}
.quote {
    background-color: #fff;
    background-size: cover;
    width: 450px;
    height: 320px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.container
{
    background-color:#008CBA;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     color: #fff;
     border-radius: 5px;
     /* border: 2px solid #008CBA; */
     text-align: center;
     font-family: 'Poppins';
}
.quote h2 {
    font-size: 2em;
    font-family: 'Poppins', cursive;
}
.quote small {
    font-size: 1.5em;
    font-family: 'Tahoma', cursive;
}
.btn {
	display: block;
	border: 2px solid #008CBA;
	background: transparent;
	padding: 10px 15px;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: background 1s, color 1s;
    margin-top: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background: #008CBA;
}
/* .btn:hover{
	background: #008CBA;
	color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} */

/* contact */
.contact
{
    background: var(--clr-grey-10);
}
.contact-info,.contact-form
{
    margin: 1rem 0;
}
.contact-item{
    margin: 1.75rem;
}
.contact-title
{
    color: var(--clr-primary);
    font-weight: 400;
}
.contact-form{

    background: var(--clr-white);
    border-radius: var(--radius);
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
    transition: var(--transition);
    max-width: 35rem;
    position: relative;
    left: 32%;
}
.contact-form:hover{
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
.contact-text{

    padding-top: 1.25rem;
    /* color: var(--clr-grey-5); */
}
.form-group
{
    padding: 1rem 1.5rem;
}
.form-control
{
    display: block;
    width: 95%;
    padding: 0.75rem 1rem;
    border: none;
    margin-bottom: 1.25rem;
    background: var(--clr-grey-10);
    color: var(--clr-grey-5);
    border-radius: var(--radius);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
}
/* in some browser doesn't inherit the styles for place holder */
/* so we select place holder specifically */
.form-control::placeholder
{
    font-family: var(--ff-primary);
    color: var(--clr-grey-1);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
}
.submit-btn
{
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: var(--radius) ;
    border-bottom-right-radius: var(--radius);
}
.section{
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-last
{
    margin-top: 2.5rem;
    background-color: #222;
    height: 5.5rem;
}
.head{
    color: #fff;
    text-align: center;
    padding-top: 1rem;
}
.icon {

    color: #fff;
}
i{
    color: #fff;
    cursor: pointer;
}
.social-links
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}
i:hover{
    color: #008CBA; 
}